# Server Configuration
PORT=3000

# JWT Configuration
# Generate a secure string for production!
JWT_SECRET=super_secret_enterprise_key_change_me

# Database Configuration
DATABASE_URL="file:./dev.db"
